* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f8f8;
}

h2 {
    color: #2c3e50;
    margin-bottom: 20px;
    text-align: center;
}

.button-container {
    text-align: center;
    margin-bottom: 20px;
}

/* Estilo padrão para botões */
button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 5px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

/* Estilo para botão de novo evento */
.button-container a button {
    background-color: #3498db; /* Azul */
    color: #fff;
}

/* Efeito de hover nos botões */
button:hover {
    background-color: #2980b9; /* Azul mais escuro */
    color: #fff;
    transform: scale(1.05); /* Efeito de escala no hover */
}

/* Estilo para botão de logout */
button[type="logout"] {
    background-color: #e74c3c;
    color: #fff;
}

ul {
    list-style-type: none;
}

li {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

/* Efeito de hover nos itens da lista */
li:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

a {
    text-decoration: none;
    color: #3498db;
    transition: color 0.3s;
}

/* Efeito de hover nos links */
a:hover {
    text-decoration: underline;
    color: #2980b9;
}

.evento-atrasado {
    color: #e74c3c;
}
