/* agenda_style.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

h2 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.button-container {
    text-align: center;
    margin-bottom: 20px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 5px;
}

/* Estilo para o botão de logout */
button[type="logout"] {
    background-color: #ff0000; /* Vermelho */
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
}

li {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    text-decoration: underline;
}
