* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
}

/* Estilo para o formulário */
form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centraliza o texto dentro do formulário */
}

/* Estilo para os rótulos */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

/* Estilo para os campos de entrada e textarea */
input[type="text"],
input[type="datetime-local"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Estilo para os botões */
button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

/* Estilo para o botão de envio */
button[type="submit"] {
    background-color: #3498db; /* Azul */
    color: #fff;
}

/* Estilo para o botão de cancelar */
button[type="button"] {
    background-color: #808080; /* Cinza */
    color: #fff;
}

/* Efeito de hover nos botões */
button:hover {
    transform: scale(1.05); /* Efeito de escala no hover */
}

/* Estilo para o botão de cancelar quando hover */
button[type="button"]:hover {
    background-color: #555; /* Cinza mais escuro */
}

/* Estilo para o link */
a {
    text-decoration: none;
}

/* Estilo para o link dentro do botão de cancelar */
a button[type="button"] {
    color: #fff;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}
