/* Estilo para o rodapé */
footer {
    background-color: #f4f4f4; /* Adiciona um fundo leve ao rodapé */
    padding: 10px 0; /* Adiciona espaço interno ao rodapé */
    text-align: center;
}

p {
    margin: 0; /* Remove a margem padrão do parágrafo */
    color: #777; /* Cor cinza para o texto do rodapé */
}
